<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DS3Autosaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DS3Autosaver.Properties.Settings>
            <setting name="MaxBackups" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="QuicksaveKey" serializeAs="String">
                <value>F5</value>
            </setting>
            <setting name="QuickloadKey" serializeAs="String">
                <value>F9</value>
            </setting>
            <setting name="SaveFile" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>00:15:00</value>
            </setting>
            <setting name="Autostart" serializeAs="String">
                <value>False</value>
            </setting>
        </DS3Autosaver.Properties.Settings>
    </userSettings>
</configuration>